:root {
  --bg-clr: #1a2d38;
  --white: #fff;
  --primary-text-clr: #b64545;
  --secondary-text-clr: #8c8c8c;
  --bg-hvr: #b64a3c;
}


body{
  
}


.flex_align_justify {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_align {
  display: flex;
  align-items: center;
}

.wrapper {
  min-height: 100vh;
  padding: 0 20px;
}

.terms_service {
  width: 900px;
  max-width: 100%;
  height: 600px;
  background: var(--white);
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(212, 34, 34, 0.582);
}

.terms_service .tc_item {
  padding: 20px 40px;
}

.terms_service .tc_head {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  height: 90px;
}

.terms_service .tc_head .icon {
  width: 50px;
  height: 50px;
  background: var(--bg-clr);
  margin-right: 20px;
  border-radius: 50%;
  font-size: 18px;
  color: var(--white);
}

.terms_service .tc_body {
  height: calc(100% - 170px);
  overflow: auto;
  padding-right: 20px;
}

.terms_service .tc_body ol li {
  margin-bottom: 15px;
}

.terms_service .tc_body ol li h3 {
  margin-bottom: 5px;
}

.terms_service .tc_foot {
  box-shadow: 0 -1px 2px rgba(193, 231, 23, 0.15);
  justify-content: space-between;
  height: 80px;
}

.terms_service .tc_foot button {
  width: 100%;
  border: 1px solid var(--bg-clr);
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.terms_service .tc_foot button.decline_btn {
  margin-right: 20px;
  background: var(--white);
  color: var(--bg-clr);
}

.terms_service .tc_foot button.accept_btn {
  background: var(--bg-clr);
  color: var(--white);
}

.terms_service .tc_foot button.decline_btn:hover {
  background: var(--bg-hvr);
  color: var(--white);
}

.terms_service .tc_foot button.accept_btn:hover {
  background: green;
  color: var(--white);
}